
 /*стили хэдера*/
 .conteiner{
    max-width: 1280px;
}


.header{
    display: inline-flex;
    margin-top: 49px;
    margin-left: 52px; 
    width: 1178px; 
 }

 .nav{
    margin-left: 66px;
    display: inline-flex;
 }

 .nav__list{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    
 }

 .nav__list_link{
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
     color:  #1E0606;
     font-family: sans-serif;    
 }

 .contact__us{
 margin-left: 620px;
display: flex;
align-items: center;
font-family: 'Open Sans';
 font-family: sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 19px;
 
 }
 
 .contact__us_link{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
    color: #1E0606;
 }

/*стили катигории товаров*/
.category__products{
    margin-top: 60px;
    margin-left: 110px;
}
.control{
    margin: 0px;
}

.control__item{
    padding: 0px;
    margin: 0px;
}

h1{
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #1E0606;
}

.control__link{
    display:inline-flex;
    margin-top: 15px;
    margin-right: 15px;   
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606; 
}

.control__link:active{
    opacity: 50%;
}



.control__button{
    border: #FFFFFF;
    background-color: #FFFFFF ;
}

.list__products{
    padding-left: 100px;
    margin-top: 49px;
    margin-bottom: 0px;
    display: inline-flex;  
}

.list__products_item{   
    position: relative;
    margin: 10px;  
}

.picture__product{
    cursor: pointer;   
}

.top{
    padding-top: 16px;
}

.title__item{
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
    z-index: 1;
    width: 192px;
    height: 64px;
    left: 15%;
    top: 103px;
}

.title__item:hover{
    text-decoration-line: underline; 
}

.title__item:active{
    text-decoration-line: underline; 
}

.list__products_low{
    display: inline-flex;
    margin: 0px;
    padding-left: 310px;
}


/*стили описания товаров*/
.product__description{
    display: block;
    margin-top: 0px;
    margin-left: 76px;
}

h2{
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
}

p{
margin-bottom: 39px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #1E0606;
}

 /*стили футера*/
/*левая колонка*/
.footer{
    display: flex;
   margin-top: 123px;
    width: 1400px;
    height: 556px;
    background: #434343;
    }
    
    .footer::before{
        content: '';
        position: absolute;
        width: 1183px;
        height: 1px;
        background: #666666;
        margin-top: 410px;
        margin-left: 110px;
    
    }
    
    .list__navigation{
        margin-left: 110px;
    }
    
    .list__navigation::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background:  #666666;
        margin-top: 138px;
        
    }
    
    
    
    h4{
     width: 380.81px;
    margin-top: 100px;
    margin-bottom: 52px;
    font-family: sans-serif;
    color: #AAAAAA
    }
    
    
    
    .list__nav_item{
        width: 185px;
        margin: 0px;
        padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    }
    
    .nav__item{
      display: flex;
      margin-bottom: 15px;
        font-family: sans-serif;
        color: #FFFFFF;
    }
    
    .raiting__star{
        margin-top: 52px;
    }
    
    .copyright{
        margin-top: 52px;
        color: #FFFFFF;
    }
    
    /*средняя колонка*/
    .info_item{
       display: flex;
       margin-bottom: 15px;
        font-family: sans-serif;
        color: #FFFFFF;
    }
    
    
    .list__info_item{
        position: relative;
        display: flex;
        font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    }
    
    .list__info_item::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background:  #666666;
        margin-top: 138px;
        margin-left: 20px;
        
    }
    
    
    
    .list__information{
        margin: 0px;
        padding-left: 20px;
        font-family: sans-serif;  
    }
    
    
    /*правая колонка*/
    .connect{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 381px;
    }
    
    .connect::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background: #666666;
        margin-top: 138px;
        
    
    
    }
    
    .link__social{
       padding: 0px;
       margin: 0px;
    
    }
    
    .link__social_item{
        margin-top: 25px;
        display: inline-flex;
        padding: 0px;   
    }
    
    .social__net{
        margin-left: 10px;
    }
    
    .developer{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 140px;
    color: #A2A2A2;
    }
    
    .form__email_cont{
        margin-top: 6px;
        display: inline-flex;
    }
    
    .form__email{
        padding: 13px;
        width: 297px;
        background: #666666;
        border: #666666;
        
    }
    
    input::placeholder{
         color: #EBEBEB;;
    }
    
    
    .join{
    padding: 0px;
    width: 81px;
    height: 40px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans';
    font-family: sans-serif;
    }
    
    /*рейтинг*/
    .raiting__star{
        display: flex;
        display: inline-flex;
        margin-left: 110px;
       margin-top: 433px;
       position: absolute;
    }
    
    .star{
        margin-top: 6px;
    }
    
    .rating{
        padding-right: 25px;
        margin: 0px;
        color: #FFFFFF;
    }
    