
/*body {
    font-family: 'Lato' sans-serif;
    src: url();
}*/


a{
    text-decoration: none;
}

li {
    list-style-type: none;
}
h3{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    width: 357px;
    height: 47px;
}

header:hover{
    opacity: 50%;
}

header:active{
    opacity: 20%;
}

.visually-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; -webkit-clip-path: inset(100%); clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
