 /*стили хэдера*/

.header{
    display: inline-flex;
    align-items: center;
    margin-top: 44px;
    width: 1178px; 
 }

 .nav{
    margin-left: 66px;
    display: inline-flex;
 }

 .nav__list{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    
 }

 .nav__list_link{
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
     color:  #1E0606;
     font-family: sans-serif;    
 }

 .contact__us{
 margin-left: 620px;
display: flex;
align-items: center;
font-family: 'Open Sans';
 font-family: sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 19px;
 
 }
 
 .contact__us_link{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-left: 20px;
    color: #1E0606;
 }

/*стили фильтров*/

h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
}

.control{
    display: flex;
    padding: 0px;
    margin-top: 15px;
}

.control__link{
display: inline-flex;
align-items: center;
padding: 0px;
margin-right: 10px;
font-family: 'Crimson Text';
font-style: italic;
font-weight: 400;
font-size: 20px;
color: #1E0606;
}

.control__link:active{
    opacity: 50%;
}


.control__button{
    padding: 0px;
    border: #FFFFFF;
    background-color: #FFFFFF ;
    cursor: pointer;
}

.control__button:hover{
    opacity: 0.5;
}

.filters{
    position: relative;
    display: flex;
    margin-left: -110px;
}


.filters::before{
    content: '';
    position: absolute;
    width: 1400px;
    height: 254px;
    background: rgba(125, 151, 218, 0.2);
    top: 55px;
    z-index: -1;

}

.slider{
    margin-left: 110px;
    -webkit-appearance: none;  
    appearance: none;
    width: 188px; 
    height: 4px; 
    background: #000000; 
    outline: none; 
    opacity: 0.5; 
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #dbb077;
    cursor: pointer;
}

h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.title__cost{
    margin-top: 97px;
    margin-left: 110px;
}

.diapason{
    position: absolute;
    display: flex;
    margin-left: 110px;
}    

.diapason__cost{
    position: relative;
    margin-left: 286px;
}

/*стили чекбоксов выбора цвета*/
.selection__color{
    margin-left: 94px;
}

.title__color{
    margin-top: 97px; 
}

.name__color{ /*label*/
    position: relative;
    display: block;
     padding-left: 32px;
     font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;    
}


.name__color::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;

    
}

.wrapper__check_box{
    display: flex;
    padding-bottom: 16px;   
}

.name__color::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 5px;
    bottom: 4px;            
}



.color:checked ~ .name__color::after{
    display: block;
    background-image: url(../static/icons/vector_3.png);  
}

.color:focus ~ .name__color::before{
    outline: 2px solid black;   
}

/*стили кнопок доставки*/
.delivery{
    margin-top: 97px;
    margin-left: 124px;
    width: 131px;
}

.title__delivery{
    margin: 0px;
    padding-bottom: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.radio__button{
    padding: 10px;
    width: 150px;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;	
}

.radio ~ label{
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}

.radio ~ label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #C29974;
	border-radius: 50%;   
}


.radio:checked ~ label:after {
    content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #C29974;
}


.radio:focus ~ label:before {
    outline: 2px solid black; 
}


/*стили кнопок количества*/
.amount{
    margin-left: 69px;
}

.title__amount{
    margin-top: 97px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
    
}

.radio__button_amount{
    position: relative;
    display: inline-flex;
    margin-top: 22px;
    
    
}

.button{
    position: relative;
    width: 80px;
    height: 35px;
}

.radio__amount{
    position: absolute;
    opacity: -1;
    
}

.label{
    position: relative;
    top: 5px;
    left: 28px;
    z-index: 1;
    cursor: pointer;
}

.label__right{
    position: relative;
    top: 5px;
    left: 19px;
    z-index: 1;
    cursor: pointer;  
}

.radio__button_amount::before{
    content: '';
    position: absolute;
    width: 240px;
    height: 35px;
    background: white;  
}

.label:hover::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 37px;
    background: #EDDEEB;
    z-index: -1;
    bottom: -8px;
    left: -30px; 
}

.label__right:hover:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 37px;
    background: #EDDEEB;
    z-index: -1;
    bottom: -9px;
    left: -19px; 
}

.label:active::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 37px;
    background: #F3D0DB;
    z-index: -1;
    bottom: -8px;
    left: -30px; 
}

.label__right:active::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 37px;
    background: #F3D0DB;
    z-index: -1;
    bottom: -9px;
    left: -19px; 
}



.button__apply{
    display: inline-block;
    width: 95px;
    height: 40px;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 60px;
    border: none;
}


/*стили выбора товаров*/
.products{
    
    margin-top: 55px;
    max-width: 1180px;
}

.list__products{
    padding: 0px;
    display: inline-flex;
    
    
}

.list__products_low{
    padding: 0px;
    display: inline-flex;
   
}

.list__products_item{
    position: relative;
    width: 380px;
    height: 497px;
    
}

.list__products_item:hover::before{
    content: 'LEARN MORE';
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    width: 207px;
    height: 120px;
    margin-left: 87px;
    margin-top: 89px;
    padding-left: 11px;
    padding-top: 82px;
    background: #E5EAF8;
    opacity: 0.9;
    cursor: pointer;
}

.list__products_item:active::before{
    content: 'LEARN MORE';
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    width: 207px;
    height: 120px;
    margin-left: 87px;
    margin-top: 89px;
    padding-left: 11px;
    padding-top: 82px;
    background: #E5EAF8;
    opacity: 0.67;
    cursor: pointer;
}



.name__product{
   display: flex;
   justify-content: center;
   margin: 0px;
   padding-top: 30px;
   font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;color: #1E0606;
    
}

.price{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #1E0606;     
}


.pagination{
    display: inline-flex;   
    padding: 0px;
    margin-top: 50px;
}

.pagination__list{
    display: inline-flex;
    padding: 0px;

}

.pagination__item{ 
    margin-right: 67px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #1E0606;

}

.pagination__item:hover{
    color: #AAAAAA;
    
}

.pagination__item:active{
    color: #C29974;
}

.arrow__left{
    position: relative;
    margin-top: 10px;
    margin-right: 442px;
    cursor: pointer;
    
}

.arrow__right{
    position: relative;
    margin-top: 10px;
    margin-left: 375px;
    cursor: pointer;

}

.arrow__left:hover::before{
    content: '';
    position: absolute; 
    width: 20px;
    height: 37px;
    bottom: 6px;
    right: -1px;
    background-image: url(../static/icons/vector_hoverLeft.png);
}

.arrow__right:hover::before{
    content: '';
    position: absolute;
    width: 17px;
    height: 31px;
    bottom: 10px;
    padding-right: 2px;
    background-image: url(../static/icons/vector_hover.png);

}

.arrow__left:active::before{
    content: '';
    position: absolute; 
    width: 20px;
    height: 37px;
    bottom: 6px;
    right: -1px;
    background-image: url(../static/icons/vector_hoverLeft.png);
    opacity: 0.5;
}

.arrow__right:active::before{
    content: '';
    position: absolute;
    width: 17px;
    height: 31px;
    bottom: 10px;
    background-image: url(../static/icons/vector_hover.png);
    opacity: 0.5;
}


   /*стили футера*/
/*левая колонка*/

.footer{
    display: flex;
    margin-top: 15px;
    width: 1400px;
    height: 556px;
    background: #434343;
    }
    
    .footer::before{
        content: '';
        position: absolute;
        width: 1183px;
        height: 1px;
        background: #666666;
        margin-top: 410px;
        margin-left: 110px;
    
    }
    
    .list__navigation{
        margin-left: 110px;
    }
    
    .list__navigation::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background:  #666666;
        margin-top: 138px;
        
    }
    
    
    
    h4{
     width: 380.81px;
    margin-top: 100px;
    margin-bottom: 52px;
    font-family: sans-serif;
    color: #AAAAAA
    }
    
    
    
    .list__nav_item{
        width: 185px;
        margin: 0px;
        padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    }
    
    .nav__item{
      display: flex;
      margin-bottom: 15px;
        font-family: sans-serif;
        color: #FFFFFF;
    }
    
    .raiting__star{
        margin-top: 52px;
    }
    
    .copyright{
        margin-top: 52px;
        color: #FFFFFF;
    }
    
    /*средняя колонка*/
    .info_item{
       display: flex;
       margin-bottom: 15px;
        font-family: sans-serif;
        color: #FFFFFF;
    }
    
    
    .list__info_item{
        position: relative;
        display: flex;
        font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    }
    
    .list__info_item::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background:  #666666;
        margin-top: 138px;
        margin-left: 20px;
        
    }
    
    
    
    .list__information{
        margin: 0px;
        padding-left: 20px;
        font-family: sans-serif;  
    }
    
    
    /*правая колонка*/
    .connect{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 381px;
    }
    
    .connect::before{
        content: '';
        position: absolute;
        width: 380px;
        height: 1px;
        background: #666666;
        margin-top: 138px;
        
    
    
    }
    
    .link__social{
       padding: 0px;
       margin: 0px;
    
    }
    
    .link__social_item{
        margin-top: 25px;
        display: inline-flex;
        padding: 0px;   
    }
    
    .social__net{
        margin-left: 10px;
    }
    
    .developer{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 140px;
    color: #A2A2A2;
    }
    
    .form__email_cont{
        margin-top: 6px;
        display: inline-flex;
        height: 40px;
    }
    
    .form__email{
        padding: 13px;
        width: 297px;
        background: #666666;
        border: #666666;
        
    }
    
    input::placeholder{
         color: #EBEBEB;;
    }
    
    
    .join{
    padding: 0px;
    width: 81px;
    height: 40px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans';
    font-family: sans-serif;
    }
    
    /*рейтинг*/
    .raiting__star{
        display: flex;
        display: inline-flex;
        margin-left: 110px;
       margin-top: 433px;
       position: absolute;
    }
    
    .star{
        margin-top: 6px;
    }
    
    .rating{
        padding-right: 25px;
        margin: 0px;
        color: #FFFFFF;
    }

    .star:hover ~ .rating{
        color: #C29974;
        cursor: pointer;
    }